@font-face {
	font-family: "Catamaran";
	src: url("/fonts/Catamaran.ttf");
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
}

/* colors */

:root {
	--white: #fff;
	--black: #070d18;
	--light-gray: #f8f8f8;
	--dark-gray: #363636;
	--red: #ca3e47;
	--blue: #4f4fed;
	--yellow: #ebc999;
}

/* reset styles */

input,
button,
textarea,
select {
	border: none;
	outline: none;
	color: var(--black);
}

a {
	color: var(--blue);
	cursor: pointer;
	text-decoration: none;
}

img {
	width: 100%;
}

body {
	color: var(--black);
	font-family: "Catamaran";
	background-color: var(--white);
}

/* font sizes */

@media screen and (min-width: 480px) {
	html {
		font-size: 1.1rem
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 1.2rem
	}
}

@media screen and (min-width: 1024px) {
	html {
		font-size: 1.3rem
	}
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 1.4rem
	}
}