@font-face {
	font-family: "OpenSans";
	src: url("/fonts/OpenSans.ttf");
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
}

/* colors */

:root {
	--white: #fff;
	--black: #070d18;
	--light-gray: #f7f6f3;
	--gray: #a1a09c;
	--dark-gray: #5d5b57;
	--red: #ca3e47;
	--blue: #4f4fed;
	--yellow: #ebc999;
	--popup-bg: rgba(255, 255, 255, .75);
	--shadow: .0125rem .0125rem .075rem rgba(0, 0, 0, .25);
}

/* reset styles */

input,
button,
textarea,
select {
	border: none;
	outline: none;
	color: var(--black);
	font-family: "OpenSans";
}

a {
	color: var(--blue);
	cursor: pointer;
	text-decoration: none;
}

img {
	width: 100%;
}

body {
	color: var(--black);
	font-family: "OpenSans";
	background-color: var(--white);
	overflow-x: hidden;
}

/* font sizes */

@media screen and (min-width: 480px) {
	html {
		font-size: 1.1rem
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 1.2rem
	}
}

@media screen and (min-width: 1024px) {
	html {
		font-size: 1.3rem
	}
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 1.4rem
	}
}

/* buttons styles */

button {
	font-size: .625rem;
	font-weight: bold;
	line-height: 1.5;

	padding: .6em 1.25em;
	border-radius: .5em;
	display: inline-block;
	border: .125em solid var(--light-gray);

	color: var(--dark-gray);
	background-color: var(--light-gray);

	transition: .3s ease-out;
	cursor: pointer;
}

button:hover {
	opacity: .8;
}

button:disabled {
	opacity: .75;
	cursor: not-allowed;
}

button.block {
	width: 100%;
	display: block;
}

button.blue {
	color: var(--light-gray);
	background-color: var(--blue);
	border: .125em solid var(--blue);
}


button.red {
	color: var(--light-gray);
	background-color: var(--red);
	border: .125em solid var(--red);
}

button:is(.blue, .red):hover {
	opacity: 1;
	color: var(--light-gray);
	background-color: var(--dark-gray);
	border: .125em solid var(--dark-gray);
}

/* links styles */

.link {
	margin: 1rem 0;
	font-size: .75rem;
	color: var(--dark-gray);
}

.link a {
	font-weight: bold;
}

.link a:hover {
	color: var(--black);
}

/* menu styles */

.menu-item {
	width: fit-content;
	min-width: 5rem;
	margin: .25em;
	padding: .5em;
	font-size: .9rem;
	font-weight: bold;
	border-radius: .5rem;
	text-transform: capitalize;
	transition: background .3s ease-out;
	cursor: pointer;
}

.menu-item.red {
	color: var(--red);
}

.menu-item:hover {
	background-color: var(--light-gray);
}

/* page styles */

.page-container {
	width: 100%;
	max-width: 1200px;
	padding: 1rem;
	margin: 0 auto;
}

.page-container.revert {
	text-align: right;
}


.page-container h1 {
	font-size: 3rem;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	gap: .125em;
}

.page-container.revert h1 {
	flex-direction: row-reverse;
}

.page-container h1 .icon {
	font-size: 1.75rem;
	display: inline-block;
	margin-right: .25em;
}

.page-content {
	margin: 2rem 0;
	position: relative;
}

/* popups styles */

.popup-content {
	width: 480px;
	max-width: 100%;
}

.popup-content h3 {
	text-align: center;
	margin-bottom: 2rem;
}

.popup-content-delete {
	width: 520px;
	max-width: 100%;
}

.popup-content-delete .buttons {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5rem;
}

/* links styles */

.links {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}


.revert .links {
	align-items: flex-end;
}

.links a {
	width: fit-content;
	font-size: 1rem;
	padding: 0.25em;
	font-weight: bold;
	text-transform: capitalize;
}

.links a:hover {
	text-decoration: underline;
}