@font-face {
	font-family: "Catamaran";
	src: url("/fonts/Catamaran.ttf");
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1;
}

/* colors */

:root {
	--white: #fff;
	--black: #070d18;
	--light-gray: #f8f8f8;
	--dark-gray: #363636;
	--red: #ca3e47;
	--blue: #4f4fed;
	--yellow: #ebc999;
}

/* reset styles */

input,
button,
textarea,
select {
	border: none;
	outline: none;
	color: var(--black);
}

a {
	color: var(--blue);
	cursor: pointer;
	text-decoration: none;
}

img {
	width: 100%;
}

body {
	color: var(--black);
	font-family: "Catamaran";
	background-color: var(--white);
	overflow-x: hidden;
}

/* font sizes */

@media screen and (min-width: 480px) {
	html {
		font-size: 1.1rem
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 1.2rem
	}
}

@media screen and (min-width: 1024px) {
	html {
		font-size: 1.3rem
	}
}

@media screen and (min-width: 1200px) {
	html {
		font-size: 1.4rem
	}
}

/* buttons styles */

button {
	font-size: .625rem;
	font-weight: bold;
	line-height: 1.5;

	padding: .6em 1.25em;
	border-radius: .5em;
	display: inline-block;
	border: .125em solid var(--light-gray);

	color: var(--dark-gray);
	background-color: var(--light-gray);

	transition: .3s ease-out;
	cursor: pointer;
}

button:hover {
	opacity: .8;
}

button:disabled {
	opacity: .75;
	cursor: not-allowed;
}

button.block {
	width: 100%;
	display: block;
}

button.blue {
	color: var(--light-gray);
	background-color: var(--blue);
	border: .125em solid var(--blue);
}

button.blue:hover {
	opacity: 1;
	color: var(--light-gray);
	background-color: var(--dark-gray);
	border: .125em solid var(--dark-gray);
}

/* links styles */

.link {
	margin: 1rem 0;
	font-size: .75rem;
	color: var(--dark-gray);
}

.link a {
	font-weight: bold;
}

.link a:hover {
	color: var(--black);
}